# FastAPI + Server
fastapi==0.116.1
uvicorn==0.35.0
python-dotenv==1.1.1
orjson==3.11.1

# Hugging Face Transformers
transformers==4.54.0
tokenizers==0.21.2
huggingface-hub==0.34.1
torch==2.7.1

# Embeddings + Semantic Search
sentence-transformers==5.0.0
scikit-learn==1.4.2
numpy==1.26.4


# Vector DB
pinecone==7.3.0

# LangChain
langchain==0.3.27
langchain-text-splitters==0.3.9

# Document parsing
PyMuPDF==1.26.3       # PDFs
python-docx==1.2.0    # Word docs
lxml==6.0.0           # HTML/EML

# Utilities
tqdm==4.67.1
requests==2.32.4
pydantic==2.11.7
typing_extensions==4.14.1
